body {
  margin: 0 3em;
  background-color: #E3F2F1;
  box-sizing: border-box;
}

.container {
margin: 0 auto;
}

.title {
  margin: 0.2em;
}

.cabecalho {
  background-color: #4CA99E;
  color: #fff;
  padding: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.principal {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 
    "openWeather weatherForecast" 
  ;
}

.lista {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr;
}

.lista-item {
  color: #fff;
  margin: 0.3em 0.5em;
  padding: 0.8em;
  background-color: #B5D5FF;
  border-radius: 5px;
  font-size: 19px;
  font-weight: bold;
  transition: 1s all;
}

.lista-item:hover {
  transform: scale(1.09);
}

.title-openWeather {
  color: #FFF;
  font-size: 29px;
}

.openWeather {
  text-align: center;
  grid-area: openWeather;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 1em 0 2em;
  border-radius: 5px;
  background-color: #A5C3F3;
}

.title-weatherForecast {
  color: #FFF;
  font-size: 29px;
  padding: 0.5em 0;
  margin: 0;
}

.weatherForecast {
  grid-area: weatherForecast;
  border-radius: 5px;
  background-color: #0E2B5A;
  margin: 0.5em 0 0.5em 0.5em;
  padding: 0 1em;
  color: #fff;
}

.text {
  margin: 0;
  color: #f5f5f5;
}

@media screen and (max-width: 414px){
  body {
   margin: 0;
  }

  .lista {
    display: grid;
    grid-template-columns: auto;
  }

  .lista-item {
    padding: 1em;
    font-size: 21px;
  }
}